# Copyright 2021-2024 The MathWorks, Inc.
[Desktop Entry]
Version=1.0
Type=Application
Name=MATLAB R2025b
Comment=
Exec=/usr/bin/bash -ic '/opt/MATLAB/bin/matlab -desktop'
Icon=/opt/matlab/bin/glnxa64/cef_resources/matlab_icon.png
Path=
Terminal=false
StartupNotify=false
Path=/home/matlab/Documents/MATLAB