#####
# FSL
#####

RUN GETFSL_URL=https://fsl.fmrib.ox.ac.uk/fsldownloads/fslconda/releases/getfsl.sh; \
    curl -Ls ${GETFSL_URL} | sh -s /opt/fsl

{{ add_to_profile('export FSLDIR=/opt/fsl/') }}
{{ add_to_profile('source ${FSLDIR}/etc/fslconf/fsl.sh') }}
{{ install_launcher(
       'FSLeyes',
       '/opt/fsl/bin/fsleyes',
       '/opt/fsl/lib/python3.12/site-packages/fsleyes/assets/linux/hicolor/48x48/apps/fsleyes.png',
       FSLDIR='/opt/fsl/') }}
