############################
# PANDORA version of fsl_glm
# and fastconfounds
############################

RUN /opt/fsl/bin/micromamba create -y                                    \
        --override-channels                                              \
        -c https://fsl.fmrib.ox.ac.uk/fsldownloads/fslconda/development/ \
        -c https://fsl.fmrib.ox.ac.uk/fsldownloads/fslconda/public/      \
        -c conda-forge                                                   \
        -p /opt/fsl/envs/pandora                                         \
        fsl-melodic fsl-fastconfounds                                 && \
    /opt/fsl/bin/micromamba clean --all

###################################
# Re-generate fsl_glm wrapper so it
# points to the pandora version
###################################

RUN FSLDIR=/opt/fsl/                         \
    PREFIX=/opt/fsl/envs/pandora/            \
    /opt/fsl/bin/python                      \
    /opt/fsl/share/fsl/sbin/createFSLWrapper \
        --force                              \
        --srcdir=/opt/fsl/envs/pandora/bin/  \
        --destdir=/opt/fsl/share/fsl/bin/    \
        fsl_glm fastconfounds
