######################
# Connectome Workbench
######################

# The shared libraries bundled with
# workbench are out-dated, so we
# install them using apt, and remove
# the bundled copies.

{{ apt_install(
    'libftgl2',
    'libglu1-mesa',
    'libosmesa6',
    'libqt5core5t64',
    'libqt5gui5t64',
    'libqt5network5t64',
    'libqt5opengl5t64',
    'libqt5printsupport5t64',
    'libqt5widgets5t64',
    'libqt5xml5t64') }}

RUN WBURL=https://humanconnectome.org/storage/app/media/workbench/workbench-linux64-v2.1.0.zip; \
    cd /opt/                                        && \
    curl -Ls ${WBURL} > workbench.zip               && \
    unzip workbench.zip                             && \
    rm ./workbench.zip                              && \
    rm -r workbench/libs_linux64_software_opengl    && \
    rm -r workbench/libs_linux64                    && \
    rm -r workbench/bin_linux64

ADD workbench_128x128x32.png /opt/workbench/
{{ add_to_profile('export PATH=/opt/workbench/exe_linux64:$PATH') }}
{{ install_desktop_file('Workbench.Desktop', '/opt/workbench/') }}
